<ul class="nav">
  <li class="nav-item">
    <%= link_to 'Home Page', root_path, class: 'btn btn-primary' %> 
  </li>
  <li class="nav-item">
    <%= link_to 'Show the Team', home_team_path, class: 'btn btn-primary' %>
  </li>
</ul>
