<br/>
<div class="card bg-bana">
    <div class="card-body trans-body">
    <h1> Your hero has been saved!<h1>
    <br/><br/>
    <h4> generate another hero? <h4>
    <%= link_to 'generate', root_path, class: "btn btn-success"%>
    <br/><br/>
    <h4> view saved heroes. <h4>
    <%= link_to 'view heroes', home_all_hero_path, class: "btn btn-success"%>
    <br/><br/>
    </div>
</div>